/*头部开始*/
header { width: 100%; height: 65px; border-bottom: 1px solid #f0f0f0; margin-bottom: 30px; }
.head { width: 1170px; margin: 0 auto; }
.logo { margin-right: 50px; }
.logo img { width: 65px; }
nav { float: left; line-height: 65px; }
nav a { font-size: 18px; color: #000; padding: 0 30px; }
.user a { font-size: 16px; color: #000; width: 75px; height: 36px; line-height: 36px; text-align: center; display: block; color: #FFF; background: #3ca5f6; float: right; margin: 13px 0px 0px 15px; display: inline; }
.user a:hover { background: #2f99ea; border-radius: 3px; }
/*头部结束*/
article { width: 1170px; margin: 0 auto;}
/*左侧开始*/
.left_list { width: 800px;}
.img_one { width: 800px; height: 450px; overflow: hidden; position: relative; z-index: 1; }
.img_one img { width: 800px; height: 450px; position: relative; transition: .1s transform; transform: translateZ(0); }
.img_one:hover > img { transform: scale(1.05, 1.05); transition: .8s transform; }
.img_one h1 { font-family: inherit; font-weight: 500; line-height: 42px; font-size: 28px; bottom: 30px; color: #FFF; position: absolute; z-index: 10; padding-left: 30px; width: 740px; }
.img_one:before { content: ""; position: absolute; width: 100%; height: 100%; z-index: 1; opacity: 1; -webkit-transition: all .3s ease; transition: all .3s ease; background: -webkit-gradient(linear,0 50%,0 100%,from(rgba(0,0,0,0)),to(#000)); background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); }
.img_two { padding-top: 30px; }
.img_two_a { width: 385px; height: 217px; overflow: hidden; position: relative; z-index: 1; }
.img_two_a img { width: 385px; height: 217px; position: relative; transition: .1s transform; transform: translateZ(0); }
.img_two_a:hover > img { transform: scale(1.05, 1.05); transition: .8s transform; }
.img_two_a h2 { font-family: inherit; font-weight: 400; line-height: 1.5; font-size: 18px; bottom: 20px; color: #FFF; position: absolute; z-index: 10; padding-left: 30px; width: 330px; }
.img_two_a:before { content: ""; position: absolute; width: 100%; height: 100%; z-index: 1; opacity: 1; -webkit-transition: all .3s ease; transition: all .3s ease; background: -webkit-gradient(linear,0 50%,0 100%,from(rgba(0,0,0,0)),to(#000)); background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#000); }
.oli { padding: 30px 0px; border-bottom: 1px solid #f0f0f0; }
.oli_img { width: 220px; height: 124px; overflow: hidden; position: relative; z-index: 1; }
.oli_img img { width: 220px; height: 124px; position: relative; transition: .1s transform; transform: translateZ(0); }
.oli_img:hover > img { transform: scale(1.05, 1.05); transition: .8s transform; }
.oli_font { width: 550px; }
.oli_font h3 { font-size: 18px; font-weight: 400; }
.oli_fonttow h3 { font-size: 18px; font-weight: 400; }
.description { color: #999; height: 66px; padding-top: 8px; line-height: 22px; }

.data { color: #bbb; }
.data p { float: left; margin-right: 15px; }
.data i, span { display: block; float: left; }

.author { margin-top: 7px; display: inline; }
.date { line-height: 17px; margin-top: 8px; display: inline; }
.date i { width: 17px; height: 17px; margin-top: 1px; background: url(../images/icon.png) no-repeat -4px -4px; }
.date span { padding-left: 8px; }
.msg { line-height: 13px; margin-top: 10px; display: inline; }
.msg i { width: 13px; height: 13px; margin-top: 1px; background: url(../images/icon.png) no-repeat -46px -6px; }
.msg span { padding-left: 8px; }

.fenx { margin-top: 9px; display: inline; }
.fenx p { float: left; margin-left: 30px; display: inline; cursor: pointer; }
.fenx i, span { display: block; float: left; }
.sina { height: 17px; line-height: 17px; width: 20px; background: url(../images/icon.png) no-repeat -4px -38px; }
.sina:hover { background-position: -4px -73px; }
.weixin { height: 17px; line-height: 17px; width: 17px; background: url(../images/icon.png) no-repeat -44px -37px; position: relative; }
.weixin:hover { background-position: -44px -74px; }
.weixin span { width: 130px; height: 130px; border: solid 1px #cccccc; background: #FFF; display: none; position: absolute; top: -146px; left: -57px; z-index: 15; }
.weixin i { width: 20px; height: 11px; display: none; position: absolute; top: -15px; left: 0px; z-index: 16; background: url(../images/icon.png) no-repeat -79px -8px; }
.weixin span img { width: 110px; height: 110px; margin: 10px; }
.qzone { height: 17px; line-height: 17px; width: 20px; background: url(../images/icon.png) no-repeat -80px -37px; }
.qzone:hover { background-position: -80px -73px; }
.morearticle { width: 798px; height: 55px; text-align: center; line-height: 55px; display: block; border: 1px solid #f0f0f0; border-top: none; font-size: 16px; color: #bbb; }
.morearticle:hover { background: #f0f0f0; color: #bbb; }
/*左侧结束*/
/*右侧开始*/
.right_list { width: 340px; }
.weekarticle { width: 340px; padding: 30px 0px 15px 0px; background: #fafafa; }
.weekarticle h3 { font-size: 18px; font-weight: 400; border-left: 5px solid #f63756; padding-left: 25px; }
.weekli { padding: 20px 30px; border-bottom: 1px solid #f0f0f0; }
.weekimg { width: 280px; height: 157px; position: relative; overflow: hidden; transition: .1s transform; transform: translateZ(0); }
.weekimg img { width: 280px; height: 157px; }
.weekimg:hover > img { transform: scale(1.05, 1.05); transition: .8s transform; }
.img_two_a img { width: 385px; height: 217px; position: relative; transition: .1s transform; transform: translateZ(0); }
.weeklititle { display: block; font-size: 16px; line-height: 25px; font-weight: 400; margin-top: 10px; }
/*右侧结束*/
/*底部开始*/
footer { width: 100%; margin-top: 60px; background: #2d3237; color: #6b6e81; padding:20px 0px;}
footer a{ color: #6b6e81; font-style:inherit; }
footer a:hover { color: #b2bae1; }
.footer-tag-list { width:1170px; margin:0 auto; padding-top:10px;}
.footer-tag-list a { padding-right:10px; }
.statement { width:1170px; margin:0 auto;padding-top:10px;}

.footer-links { width:1170px; margin:0 auto; padding-top:10px;}
.footer-links a { padding-right:10px; }